<section class="section-search">
    <form class="section-search-form">
        <div class="search-form-container">
            <input class="search-form-input" type="text" name="search" placeholder="ПОШУК">
            <button class="search-form-btn" name="">пошук</button>
        </div>
    </form>
    <ul class="search-information-list">
        <li class="search-information-element">
            <a href="#" class="search-information-link">
                <p class="search-information-name">найменування</p>
                <p class="search-information-value">-</p>
            </a>
        </li>
        <li class="search-information-element">
            <a href="#" class="search-information-link">
                <p class="search-information-name">видано</p>
                <p class="search-information-value">-</p>
            </a>
        </li>
        <li class="search-information-element">
            <a href="#" class="search-information-link">
                <p class="search-information-name">склад</p>
                <p class="search-information-value">-</p>
            </a>
        </li>
        <li class="search-information-element">
            <a href="#" class="search-information-link">
                <p class="search-information-name">акт прийому</p>
                <p class="search-information-value">-</p>
            </a>
        </li>
        <li class="search-information-element">
            <a href="#" class="search-information-link">
                <p class="search-information-name">акт видачі</p>
                <p class="search-information-value">-</p>
            </a>
        </li>
        <li class="search-information-element">
            <a href="#" class="search-information-link">
                <p class="search-information-name">ЖБД</p>
                <p class="search-information-value">-</p>
            </a>
        </li>
    </ul>
</section>