<section class="section-table">
    <aside class="section-table-sidebar">

    </aside>
    <div class="section-table-container">
        <table class="section-table-main" border="1">
            <thead class="table-main-thead">
                <tr class="table-main-row">
                    <th class="table-main-column">№</th>
                    <th class="table-main-column">акт прийому</th>
                    <th class="table-main-column">найменування</th>
                    <th class="table-main-column">серійний номер</th>
                    <th class="table-main-column">акт видачі</th>
                    <th class="table-main-column">призвіще</th>
                    <th class="table-main-column">підрозділ</th>
                    <th class="table-main-column">підпідрозділ</th>
                    <th class="table-main-column">примітка</th>
                    <th class="table-main-column">жбд</th>
                </tr>
            </thead>
            <tbody class="table-main-thead">
                <tr class="table-main-row">
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                </tr>
                <tr class="table-main-row">
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                </tr>
                <tr class="table-main-row">
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                </tr>
                <tr class="table-main-row">
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                    <td class="table-main-column">-</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>