<section class="section-table">
    <div class="section-table-container">
        <table class="section-table-main" border="1">
            <thead class="table-main-thead">
                <tr class="table-main-row">
                    <th class="table-main-column" id="main-column-1"><p class="main-column-paragraph">№</p></th>
                    <th class="table-main-column" id="main-column-2"><p class="main-column-paragraph">акт прийому</p></th>
                    <th class="table-main-column" id="main-column-3"><p class="main-column-paragraph">найменування</p></th>
                    <th class="table-main-column" id="main-column-4"><p class="main-column-paragraph">серійний номер</p></th>
                    <th class="table-main-column" id="main-column-5"><p class="main-column-paragraph">акт видачі</p></th>
                    <th class="table-main-column" id="main-column-6"><p class="main-column-paragraph">призвіще</p></th>
                    <th class="table-main-column" id="main-column-7"><p class="main-column-paragraph">підрозділ</p></th>
                    <th class="table-main-column" id="main-column-8"><p class="main-column-paragraph">підпідрозділ</p></th>
                    <th class="table-main-column" id="main-column-9"><p class="main-column-paragraph">примітка</p></th>
                    <th class="table-main-column" id="main-column-10"><p class="main-column-paragraph">жбд</p></th>
                </tr>
            </thead>
            <tbody class="table-main-tbody">
                <tr class="table-main-row">
                    <td class="table-main-column" id="main-column-1"><p class="main-column-paragraph">1</p></td>
                    <td class="table-main-column" id="main-column-2"><p class="main-column-paragraph">НАКЛ.№ 2009d</p></td>
                    <td class="table-main-column" id="main-column-3"><p class="main-column-paragraph">Starlink</p></td>
                    <td class="table-main-column" id="main-column-4"><p class="main-column-paragraph">KIT301423000</p></td>
                    <td class="table-main-column" id="main-column-5"><p class="main-column-paragraph">86/БР</p></td>
                    <td class="table-main-column" id="main-column-6"><p class="main-column-paragraph">МАЗУР</p></td>
                    <td class="table-main-column" id="main-column-7"><p class="main-column-paragraph">РОЗВІДКА</p></td>
                    <td class="table-main-column" id="main-column-8"><p class="main-column-paragraph">БПЛА</p></td>
                    <td class="table-main-column" id="main-column-9"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-10"><p class="main-column-paragraph">витяг 182/2559 від 26.02.24 3 жбд № 9/69т в/ч А0216</p></td>
                </tr>
                <tr class="table-main-row">
                    <td class="table-main-column" id="main-column-1"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-2"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-3"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-4"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-5"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-6"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-7"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-8"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-9"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-10"><p class="main-column-paragraph">-</p></td>
                </tr>
                <tr class="table-main-row">
                    <td class="table-main-column" id="main-column-1"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-2"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-3"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-4"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-5"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-6"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-7"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-8"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-9"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-10"><p class="main-column-paragraph">-</p></td>
                </tr>
                <tr class="table-main-row">
                    <td class="table-main-column" id="main-column-1"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-2"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-3"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-4"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-5"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-6"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-7"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-8"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-9"><p class="main-column-paragraph">-</p></td>
                    <td class="table-main-column" id="main-column-10"><p class="main-column-paragraph">-</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>