<section>
    <input class="input-test" type="text" name="test">
    <button class="btn-test">start</button>
    <table style="border: 1px solid red;">
        <thead>
            <tr>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
            </tr>
        </thead>
        <tbody class="qwertyn">
            <tr class="qwerty">
                <td class="row-column-1"></td>
                <td class="row-column-2"></td>
                <td class="row-column-3"></td>
                <td class="row-column-4"></td>
                <td class="row-column-5"></td>
                <td class="row-column-6"></td>
                <td class="row-column-7"></td>
                <td class="row-column-8"></td>
            </tr>
        </tbody>
    </table>
</section>