/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./login.css');
@import url('./search.css');
@import url('./table.css');

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  flex-grow: 1;
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input,
textarea,
button {
  outline: transparent;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

section{
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}