.section-table {
    height: 75%;
    background-color: #6a6a6a;
    display: flex;
    justify-content: space-between;
}

.section-table-sidebar {
    border: 1px solid red;
    flex-grow: 1;
}

.section-table-container {
    flex-grow: 2;
}

.section-table-main{
    width: 100%;
    margin: 0;padding: 0;
}