.section-table {
    height: 75%;
    background-color: #6a6a6a;
}

.section-table-container {
}

.section-table-main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.table-main-thead {
    color: rgb(200, 255, 255);
    letter-spacing: .1em;
    text-transform: uppercase;
}

.table-main-tbody {}

.table-main-row {}

.table-main-column {
    padding: 8px 16px;
}

.table-main-thead .main-column-paragraph {
    filter: drop-shadow(1px 1px 1px #000);
}

.table-main-tbody .main-column-paragraph {
    font-weight: 700;

}